@import "tailwindcss";

@theme {
  --color-primary: #64ccc5;
  --color-primary-variant: #47b5ae;
  --color-secondary: #176b87;
  --color-background: #ffffff;
  --color-surface: #dafffb;
  --color-error: #c7004c;
  --color-on-primary: #04364a;
  --color-on-secondary: #ffffff;
  --color-on-background: #04364a;
  --color-on-surface: #04364a;
  --color-on-error: #ffffff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #64ccc5;
  --color-primary-variant: #47b5ae;
  --color-secondary: #176b87;
  --color-background: #ffffff;
  --color-surface: #dafffb;
  --color-error: #c7004c;
  --color-error-e: #f73213;
  --color-on-primary: #04364a;
  --color-on-secondary: #ffffff;
  --color-on-background: #04364a;
  --color-on-surface: #04364a;
  --color-on-error: #ffffff;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.7em;
  line-height: 1.3;
}

h4 {
  font-size: 1.4em;
  line-height: 1.4;
}

h5 {
  font-size: 1.2em;
  line-height: 1.5;
}

h6 {
  font-size: 1em;
  line-height: 1.6;
}

@utility btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-primary);
  color: white;
  &:hover {
    background-color: var(--color-primary-variant);
  }
  &:focus, :focus-visible {
    border-width: 3px;
    border-color: var(--color-secondary)
  }
}

.v-field--variant-filled .v-field__overlay {
  background: #cbffe3 !important;
}

.v-btn__overlay {
    background-color: #98fff8 !important
}

.v-btn:hover > .v-btn__overlay {
  opacity: 0.5 !important;
}

.v-ripple__container {
  color: #ffffff;
  opacity: 0.4 !important;
}

.v-messages__message {
  color: #ff2f00;
  font-weight: bold;
}

.v-card__overlay {
    background-color: #54e3e8 !important
}

.v-card:hover > .v-card__overlay {
  opacity: 0.5 !important;
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@utility btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-primary);
  color: white;
  &:hover {
    background-color: var(--color-primary-variant);
  }
  &:focus, :focus-visible {
    border-width: 3px;
    border-color: var(--color-secondary)
  }
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
